body {
    margin: 0;
    font-family: 'Sofia Sans', sans-serif;
    background: rgb(126,118,255);
background: linear-gradient(90deg, rgba(126,118,255,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}
header {
    height: 60px;
    background-color: #0092a0;
    display: flex; 
}
ul {
    list-style: none; 
    display: flex; 
    justify-content: start; 
}
  
li a {
    color: white; 
    padding: 22px;
    font-size: 20px; 
    text-decoration: none; 
}
.cent{
    text-align:center;
    color:white;
}  

.p1{
    font-size: 25px;
    color:white;
    margin-left:250px;
}
.p2{
    font-size: 25px;
    color:white;
    margin-left:460px;
}

li a:hover {
    background-color: #01646d; 
}

h2{
    text-align: center;
    color:white;
}





.row {
    display: inline-block;
    display: flex;
}

.stockcard{
    border-radius: 25px;
    background-color: white;
    margin: 0 auto;
    display: block;
    width: 500px; 
    border: 2rem solid #0cd2ff;
}

.stockimg{
    border-radius: 25px;
    width: 500px;
}
.stocktxt{
    color:black;
    text-align: center;
}