<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sofia+Sans+Semi+Condensed" rel="stylesheet" />
    <link rel="stylesheet" href= "/static/css/builds.css">
    <title>KZ Electronics</title>
</head>
<body>
    <header>
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/builds">Готовые сборки</a></li>
          <li><a href="/about">О компании</a></li>
        </ul>
    </header>

<br>

<h1 class="cent">ГОТОВЫЕ СБОРКИ</h1>
<p class="cent">Вы можете приобрести готовые компьютеры по хорошей цене!</p>

<div class="left">
    <img src="../static/images/pc1.png">
</div>
<h2 class="lf">OFFICE BUILD</h2>
<p class="lf">Core i3 5го поколения</p>
<p class="lf">8 ГБ ОЗУ</p>
<p class="lf">SSD 128 ГБ</p>
<p class="lf">HDD 500 ГБ</p>
<p class="lf">Geforce GT 430</p>

<div class="divcent">
    <img src="../static/images/pc2.png" class="imgcent">
</div>
<h2 class="cent">GAMING BUILD</h2>
<p class="cent">Core i5 10го поколения</p>
<p class="cent">16 ГБ ОЗУ</p>
<p class="cent">SSD 256 ГБ</p>
<p class="cent">HDD 2 ТБ</P>
<p class="cent">Geforce GTX 1080</P>

<div class="right">
    <img src="../static/images/pc3.png">
</div>    
<h2 class="lf">GAMING+ XS BUILD</h2>
<p class="lf">Core i9 12го поколения</p>
<p class="lf">32 ГБ ОЗУ</p>
<p class="lf">SSD 500 ГБ</p>
<p class="lf">HDD 5 ТБ</p>
<p class="lf">Geforce RTX 4090</p>
<BR>