<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sofia+Sans+Semi+Condensed" rel="stylesheet" />
    <link rel="stylesheet" href= "/static/css/style.css">
    <title>KZ Electronics</title>
</head>
<body>
    {% block content %}
    <header>
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/builds">Готовые сборки</a></li>
          <li><a href="/about">О компании</a></li>
        </ul>
    </header>
    {% endblock %}
    <h1 class="cent">KZ Electronics</h2>
    <p class="cent">Лучший магазин электроники в Казахстане!</p>
    <h2 class="pad">Почему мы?</h2>
    <p class="cent">В нашем магазине самые низкие цены, а также самый большой выбор!</p>
    <h1 class="cent">АКЦИИ!</h1>
    <p class="cent">Спешите! Только на этой неделе - скидки 50% на видеокарты 1060!</p>
<div class="stockcard">
    <h3 class="stocktxt">Перейти и купить по акции!</h3>
        <a href="/prod">
        <img class="stockimg" src="../static/images/1060.png">    
        </a>
</div>

</body>
</html>